*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 10px;
}
nav a{
    font-size: 13px;
    display: inline-block;
    line-height: 24px;
    font-weight: 400;
    color:#666;
    cursor: pointer;
    padding: 5px 6.7px;
}
nav a:hover{
    text-decoration: underline;
    opacity: .85;
}
nav i{
    width: 34px;
    padding: 5px;
    margin: auto 7px;
    cursor: pointer;

}
nav i:hover{
    opacity: .8;
}
nav button{
    border: 1px solid #4285f4 ;
    font-weight: bold;
    outline: none;
    background-color: #4285f4;
    color: #fff;
    padding: 7px 12px;
    border-radius: 3px;
    margin-left: 7px;
    cursor: pointer;
}
.section-1{
    flex: 1;
}
.section-1 .logo{
    display: block;
    margin: 0px auto;
    margin-top: 40px;

}
.box-1{
    width: 580px;
    margin: 0px auto;
    position: relative;
    margin-top: -8px;
    text-align: center;
}
.box-1 .a-input{
    display: block;
    border: 1px solid#ddd;
    color: rebeccapurple;
    font-size: 16px;
    padding: 13px;
    padding-left: 45px;
    border-radius:25px ;
    width: 100%;
    transition: box-shadow 100ms;
    outline: none;
}
.box-1 .a-input:hover{
    background-color: #fff;
}
.box-1 .fa-search{
    width: 20px;
    opacity: 14px;
    position: absolute;
    top: 13px;
    left: 14px;

}
.box-1 .mic-icon{
    width: 14px;
    position: absolute;
    top: 13px;
    right: 24px;
}
.b-btn{
    border: 1px solid transparent;
    padding:9px 15px ;
    color:black;
    font-size: 14px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 28px;
    outline: none;
    cursor: pointer;

}
.b-btn:hover{
    border: 1px solid#aaa;
}
.lang{
    margin-top: 30px;
    text-align: center;
font-size: 14px;
}

.hh{
    background-color: #eeeff1 ;
    padding: 14px;
    color: #aaa;
    border-bottom:   #aaa;
}
.links{
    background-color: #eeeff1;
    width: 100%;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
}
.links>div{
    display: inline-block;
    padding: 16px; 
    margin-left: px;
    color: #aaa;
}
.links>div>a{
    color: #aaa;
    margin-left: 15px;

}
.link-b{
    margin-left: 4cm;
}
.carbon{
    margin-left: 3cm;
}
.links>div>a:hover{
       text-decoration: underline;
}
span>a{
   
}